@import '../../../styles/configs.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.about{
  min-height: 100vh;
  padding: 120px 0;

  @media screen and (max-width:$breakpoint-down-sm) {
    padding: 100px 0;
  }
  
}
