@import '../../../styles/configs';
@import '../../../styles//colors.scss';


.modal__footer {
  background-color: #f1f1f1;

  a{
    color: #337ab7;

    &:hover{
      text-decoration: none;
      color: #e6912c;
    }
  }
}
