@import '../../../styles/configs';
@import '../../../styles//colors.scss';


.modal-header {
  min-height: 48px;
  padding: 16px 48px 0 24px;

  .header-wrapper__logo{
    display: block;
    background-image: url(../../../assets/images/logo-black.png);
  }

  &__close-btn {
    transition: color $anim-time;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 16px;
    top: 16px;
    color: $yellow;
    font-size: 42px;

    &:hover {
      color: #000;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
