.intro{
    min-height: 100vh;
    position: relative;
    background-image: url(../../assets/images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}