@import "../../styles/colors.scss";
@import "../../styles/configs.scss";

.content {
  &__title {
    font-size: 3.75rem;
    font-weight: bold;

    span {
      color: $yellow;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);

    .list__item {
      flex: 33.333%;

      display: flex;
      padding: 40px;

      @media screen and (max-width: $breakpoint-down-md) {
        flex: 50%;
      }
      @media screen and (max-width: $breakpoint-down-xs) {
        flex: 100%;
      }

      .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 1em;
        margin-bottom: 12px;
      }

      .descr {
        line-height: 1.2em;
      }

      .react-icon {
        display: block;
        margin-right: 16px;

        svg {
          font-size: 50px;
          color: #f2ca00;
          stroke: black;
          stroke-width: 7px;
        }
      }
    }

    .list__item:nth-child(1),
    .list__item:nth-child(2),
    .list__item:nth-child(4),
    .list__item:nth-child(5) {
      border-right: 1px solid $grey-1;
    }

    .list__item:nth-child(1),
    .list__item:nth-child(2),
    .list__item:nth-child(3) {
      border-bottom: 1px solid $grey-1;
    }

    @media screen and (max-width: $breakpoint-down-md) {
      .list__item:nth-child(4) {
        border-bottom: 1px solid $grey-1;
        border-right: none;
      }
      .list__item:nth-child(3) {
        border-right: 1px solid $grey-1;
      }
      .list__item:nth-child(2) {
        border-right: 0;
      }
    }

    @media screen and (max-width: $breakpoint-down-xs) {
      .list__item {
        border-bottom: 1px solid $grey-1;
        border-right: none;
      }
      .list__item:nth-child(1),
      .list__item:nth-child(5),
      .list__item:nth-child(3) {
        border-right: none;
      }
      .list__item:nth-child(1) {
        border-top: 1px solid $grey-1;
      }
    }
  }
}
